@import "mixins";
@import "variables";


.author {
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  @include for-tablet-portrait-up {
    margin-top: 80px;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  @include for-phone-only {
    margin-top: 40px;
  }

  &__main-info {
    max-width: 510px;
    @include for-tablet-portrait-up {
      margin-top: 40px;
      text-align: center;
    }

  }

  &__title {

    font-family: mainBold, 'sans-serif';
    font-size: 78px;
    line-height: 116%;
    color: $yellow;
    cursor: pointer;

    .animation {
      @include volume-container;
      span {

        @include volume-inner;
      }
    }

    @include for-tablet-landscape-up {
      font-size: 62px;
    }
    @include for-phone-only {
      font-size: 42px;
    }


  }

  &__subtitle {
    margin-top: 24px;
    font-size: 30px;
    color: $yellow;

    @include volume-inner;
    @include for-phone-only {
      margin-top: 18px;
      font-size: 20px;
    }
  }

  &__skills {
    display: flex;
    max-width: 412px;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
    @include for-tablet-portrait-up {
      margin: 30px auto 0 auto;
      justify-content: center;
    }
    @include for-phone-only {
      gap: 14px;
      margin: 20px auto 0 auto;
    }
    &-item {
      padding: 2px 16px;
      font-size: 21px;
      background-color: $blue;
      border-radius: 32px;
      @include volume-shadow;
      @include for-phone-only {
        font-size: 16px;
      }
    }
  }
  canvas {

    @include for-phone-only {
      width: 300px;
    }
  }
}
