@import "mixins";
@import "variables";
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: mainRegular, sans-serif;
  color: #fff;
  background: $background;


  scroll-behavior: smooth;

  .overlay {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;

    border-left: 1px solid $border-overlay;
    border-right: 1px solid $border-overlay;

    position: relative;

    @include for-desktop-up {
      width: 95%;
    }
    @include for-phone-only {
      padding-top: 10px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 33.3%;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.11);
      z-index: 2;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 33.3%;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.11);
      z-index: 2;
    }

  }
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  background: 0;
  border: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;

}

.section {
  margin-top: 100px;
  @include for-tablet-portrait-up {
    margin-top: 60px;
  }
  @include for-phone-only {
    margin-top: 40px;
  }

  &__subtitle {
    font-size: $subtitle-size;
    font-weight: 400;
    color: $yellow;
    @include volume-shadow-text;
    @include for-phone-only {
      font-size: $subtitle-size-for-phone;
    }
  }
  &__title {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: mainBold, 'sans-serif';
    font-size: $title-size;
    line-height: 1.1;
    color: $yellow;
    @include volume-shadow-text;
    @include for-phone-only {
      font-size: $title-size-for-phone;
    }
  }
  &__text {
    font-size: 16px;
    padding: 10px;
    background-color: $blue;
    border-radius: 15px;
    @include volume-shadow;
  }
}
