@import "mixins";
@import "variables";

.header {
  padding-top: 15px;
  height: 140px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: none;
  transition: all .5s linear;

  border-radius: 0 0 20% 20%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  //box-shadow: rgba(255,255,0,0.4) 0px 5px, rgba(0,255,255,0.3) 0px 10px, rgba(255,154,255, 0.2) 0px 15px, rgba(255,154,255, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  z-index: 11;

  @include for-phone-only {
    max-height: 75px;
    padding-top: 0;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    @include for-desktop-up {
      width: 95%;
    }
  }
  .logo {
    position: relative;
    z-index: 2;
    transform: rotate(-10deg);
    cursor: pointer;
    transition: transform .5s cubic-bezier(.45, -0.67, .53, 1.63);
    @include for-phone-only {
      transform: none;
    }

    &__main {
      font-family: secondaryBold, 'sans-serif';
      font-weight: bold;
      font-size: 45px;
      color: $yellow;
      letter-spacing: 0.2rem;

      .animation {
        @include volume-container;
        span {
          display: inline-block;
          transform: skew(-10deg);
          position: relative;
          z-index: 2;
          @include volume-inner;
        }
      }


      @include for-phone-only {
        font-size: 35px;
      }
    }
    &__caption {
      font-family: secondaryRegular, 'sans-serif';
      font-size: 18px;
      margin-top: -3px;
      color: $pink;
      letter-spacing: 0.2rem;

      .animation {
        @include volume-container;
        span {
          transform: skew(-10deg);

        }
      }

      @include for-phone-only {
        font-size: 12px;
      }
    }
  }
  .nav {

    @include for-tablet-portrait-up {
      position: fixed;
      top: 20px;
      bottom: 20%;
      right: -100%;

      width: 300px;
      background-color: $background;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;

      animation: background 5s infinite ease;
      transition: right .3s;
      z-index: 10;

      @keyframes background {
        0% {
          box-shadow: inset 0 0 10vw rgba(255,154,255,0.5);
        }
        33% {
          box-shadow: inset 0 0 10vw rgba(255,255,0,0.5);
        }
        66% {
          box-shadow: inset 0 0 10vw rgba(0,255,255,0.5);
        }
        100% {
          box-shadow: inset 0 0 10vw rgba(255,154,255,0.5);
        }
      }
    }
    .nav__list {
      display: flex;
      justify-content: center;

      @include for-tablet-portrait-up {
        flex-wrap: wrap;
        margin: 100px auto 0;
        max-width: 110px;

        border-radius: 30px;

        .nav__list-item {
          margin: 0;
        }
        &-item:not(:first-child) {
          margin-top: 40px;
        }
      }

      &-item {

        @include volume-inner;
        margin-right: 50px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }
        //Underline
/*        &:before {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          width: 0;
          background-color: $red;
          box-shadow: $shadow 1px 1px, $shadow 2px 2px;
        }
        &:hover:before {
          width: 100%;
          transition: cubic-bezier(.45, -0.67, .53, 1.63) .3s all;

        }*/
        @include for-tablet-portrait-up {
          opacity: 0;
        }
      }
      a {
        color: lighten($yellow, 10%);
        transition: color .3s;
      }
    }

    &.active-burger {
      right: 0;
      transition: right .3s;
      .nav__list-item {
        opacity: 100%;
        transition: opacity 1s;
      }
    }
  }



  .burger {
    display: none;
    $burger-size: 32px;

    @include for-tablet-portrait-up {
      display: block;
    }

    .burger__button {
      z-index: 12;
      width: $burger-size * 1.5;
      height: $burger-size;
      position: relative;
      transition: .2s ease-out all;
      @include for-phone-only {
        $burger-size: 24px;
        width: $burger-size * 1.5;
        height: $burger-size;
      }
      &:hover {
        cursor: pointer;
      }

      .burger__line {
        position: absolute;
        background-color: $yellow;
        left: 0;
        right: 0;
        height: 2px;
        transition: .2s ease-out all;
        @include volume-shadow;
      }
      .burger__line:nth-child(1) {
        top: 0;
      }
      .burger__line:nth-child(2) {
        top: 33.3% - 2;
      }
      .burger__line:nth-child(3) {
        top: 66.6% - 4;
      }
      .burger__line:nth-child(4) {
        bottom: 0;
      }
      &:hover {
        .burger__line:nth-child(1) {
          left: 40%;
        }
        .burger__line:nth-child(2),
        .burger__line:nth-child(3){
          transform: rotate(20deg);
        }
        .burger__line:nth-child(4) {
          right: 40%;
        }
      }

    }
    .burger__list {
      display: none;
    }


    &.active, &.active:hover{
      .burger__line {
        box-shadow: none;
      }
      .burger__line:nth-child(1) {
        left: 50%;
        right: 50%;
      }
      .burger__line:nth-child(2) {
        transform: rotate(45deg);
        top: 50%
      }
      .burger__line:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;
      }
      .burger__line:nth-child(4) {
        left: 50%;
        right: 50%;
        box-shadow: none;
      }
    }



  }
}