
//=====@Rotate and shadow=====//
@mixin volume-container {
  position: relative;
}
@mixin volume-inner {
  display: inline-block;
  text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px, $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
  min-width: 10px;
  min-height: 10px;
  position: relative;
}
@mixin volume-shadow {
  box-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px, $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
}
@mixin volume-shadow-text {
  text-shadow: $shadow 1px 1px, $shadow 2px 2px, $shadow 3px 3px, $shadow 4px 4px, $shadow 5px 5px, $shadow 6px 6px;
}

//=====@Media=====//
@mixin for-small-phone-only {
  @media (max-width: 320px) { @content; }
}@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-phone-landscape-up {
  @media (max-width: 768px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 992px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (max-width: 1080px) { @content; }
}
@mixin for-desktop-up {
  @media (max-width: 1350px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}


