@import "mixins";

.header__waves {
  //display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  transform: rotate(180deg);
  border-radius: 20% 20% 0 0;
  z-index: 1;
  overflow: hidden;
}

.wave,
.wave::before,
.wave::after {
  content: '';
  position: absolute;
  top: 0;
  left: -125%;
  width: 350vw;
  height: 350vw;
  background-color: transparent;
  border-radius: 42%;
  box-shadow: inset 0 0 10vw rgba(255,154,255,0.5);
  animation: spin 50s infinite ease;
}

.wave::before {
  width: 105%;
  height: 95%;
  top: 0;
  left: 0;
  border-radius: 42%;
  box-shadow: inset 0 0 10vw rgba(255,255,0,0.8);
  animation: spin 56s infinite ease;
}

.wave::after {
  width: 102%;
  height: 98%;
  top: 0;
  left: 0;
  border-radius: 42%;
  box-shadow: inset 0 0 10vw rgba(0,255,255,0.8);
  animation: spin 42s infinite ease;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% { transform: rotate(360deg); }
}